body {
    text-align: center;
    margin: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

main {
    background-color: white;
    border: 2px solid black;
    padding: 50px;
    border-radius: 100px;
    margin: 70px;
    font-weight: 100px;
    margin-top: 25px;
}

footer {
    text-align: left;
    border: 2px solid black;
    margin: 10px;
    width: 250px;
}